#container {
    width: 600px;
    background-color: black;
    margin: 0 auto;
}
#container > div{
height: 100px;
background-color: aquamarine;
}
#container > div:nth-child(2){
    background-color: deeppink;
}
#container > div:hover{
    background-color: blueviolet;
}
